
body {
    background-color:white;
    animation-name: body;
    animation: body 25s infinite;
    text-align: center;
}

h1 {
    text-align: center;
    font-family:'Press Start 2P', cursive;
    font-size: 64px;
    color: azure;
}

@keyframes body {
    10% {background-color: red;}
    20% {background-color: rgb(243, 0, 211);}
    30% {background-color: rgb(255, 136, 0);}
    40% {background-color:rgb(151, 0, 151);}
    50% {background-color: rgb(0, 251, 255);}
    60% {background-color: chartreuse;}
    70% {background-color: rgb(255, 251, 0);}
    80% {background-color: brown;}
    90% {background-color: rgb(174, 73, 0);}
    100% {background-color: black;}
}
   


p {

background-color: rgb(5, 5, 5);
display: block;
margin: 0 auto;
text-indent: 3ch;
border:5px dotted white;
border-radius: 10px;
color: rgb(252, 202, 4);
width: 75%;
}

ol {
    background-color: rgb(226, 43, 43);
    border: 5px dotted rgb(20, 220, 53);
    border-radius: 5px;
    color: rgb(208, 255, 0);
    width:200px;
    margin: 0 auto;
    animation-name: ol;
    animation-duration: ol 6s infinite ;
    margin-top: 50px;
}

@keyframes ol {
    0%   {background-color: red;}
    25%  {background-color: rgb(255, 0, 191);}
    50%  {background-color: rgb(0, 183, 255);}
    100% {background-color: rgb(1, 5, 1);}
  }

#newf {
    position: fixed;
    background-color: coral;
    color: rgb(2, 221, 250);
    width: 100%;
    height: 25px;
    margin-top: 0 auto;
    text-align: center;
}