
body {
    background-color:white;
    animation-name: body;
    animation: body 25s infinite;
}

@keyframes body {
    10% {background-color: red;}
    20% {background-color: pink;}
    30% {background-color: orange;}
    40% {background-color:purple;}
    50% {background-color: rgb(0, 251, 255);}
    60% {background-color: chartreuse;}
    70% {background-color: gold;}
    80% {background-color: brown;}
    90% {background-color: rgb(174, 73, 0);}
    100% {background-color: black;}
}
   


p {
background-color: rgb(5, 5, 5);
display: block;
margin: 0;
text-indent: 3ch;
border:5px dotted white;
border-radius: 10px;
color: rgb(252, 202, 4);
width: 75%;
}

ol {
    background-color: rgb(226, 43, 43);
    border: 5px dotted rgb(20, 220, 53);
    border-radius: 5px;
    color: rgb(208, 255, 0);
    width:200px;
    animation-name: ol;
    animation-duration: ol 6s infinite ;
    ;
}

@keyframes ol {
    0%   {background-color: red;}
    25%  {background-color: rgb(255, 0, 191);}
    50%  {background-color: rgb(0, 183, 255);}
    100% {background-color: rgb(1, 5, 1);}
  }

footer {
    background-color: coral;
    color: rgb(2, 221, 250);
    width: 75px;
}